html, body {
    height: 100%;
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

footer {
    background: linear-gradient(to bottom, #022c4e, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 0; 
    width: 100%; 
}

footer p {
    font-size: 0.8vw; 
    color: #fff;
    margin: 0.5vw 10vw; 
    text-align: center;

}

.p1 {
    font-size: 0.7vw; 
    color: #fff;
    margin: 0.2vw 0; 
    text-align: center;   
}

.footer-links {
    padding: 1vw;
}

footer a {
    text-decoration: none;
    color: #156e94;
    font-size: 0.8vw; 
    margin: 0 0.5vw;
}

footer a:hover {
    color: #fff;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    flex-wrap: wrap;
}

.footer-icons img {
    width: 1.5vw; 
    height: auto;
    margin: 0.5vw 0.2vw; 
    transition: transform 0.2s ease; 
}

.footer-icons img:hover {
    transform: scale(1.03); 
}
